{% extends 'security/base.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Register a new membership</p>

            {{ form_start(form) }}
                <div class="input-group mb-3">
                    {{ form_errors(form.firstName) }}
                    {{ form_widget(form.firstName) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form_errors(form.lastName) }}
                    {{ form_widget(form.lastName) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form_errors(form.password.password) }}
                    {{ form_widget(form.password.password) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form_errors(form.password.confirm) }}
                    {{ form_widget(form.password.confirm) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <!-- <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                            <label for="agreeTerms">
                                I agree to the <a href="#">terms</a>
                            </label>
                        </div> -->
                    </div>
                    <!-- /.col -->
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Registrieren</button>
                    </div>
                    <!-- /.col -->
                </div>
            {{ form_end(form) }}

            <!--
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i>
                    Sign up using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i>
                    Sign up using Google+
                </a>
            </div>
            -->

            <hr>

            <a href="{{ path('app_login') }}" class="text-center">Ich habe bereits ein Konto!</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
{% endblock %}