<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img style="object-fit: cover; height: 2.1rem;" src="{{ asset('storage/avatars/') ~ app.user.avatarFile|default('avatar-default-icon.png') }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="{{ path('profile_edit') }}" class="d-block">{{ app.user.fullname }}</a>
        </div>
    </div>
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-header">HAUPTMENU</li>

            <li class="nav-item">
                <a href="{{ path('default') }}" class="nav-link {% if(app.request.attributes.get('_route') starts with 'default') %}active{% endif %}">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>

            {{ render(controller('App\\Controller\\Rendering\\GroupRenderingController::renderGroups')) }}

            <li class="nav-header">FUNKTIONEN</li>

            <li class="nav-item">
                <a href="{{ path('group_add') }}" class="nav-link {% if(app.request.attributes.get('_route') == 'group_add') %}active{% endif %}">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        Neue Gruppe erstellen
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->